body {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  height: 100dvh;
}

div {
  border: 1px solid;
  background-color: green;
  height: 250px;
  transition: all 2s;
  text-align: center;
}

.links {
  &:hover {
    transform: translateX(-20px);
  }
}

.midden {
  &:hover {
    transform: translateY(-20px);
  }
}

.rechts {
  &:hover {
    transform: translateX(20px);
  }
}
